html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;   
}

body {
    padding: 0;
    background-color: $white;
    color: $black;
    font-family: 'PT sans', sans-serif;
    line-height: 1.3;
    margin: 0;
}

.main {
    padding: 20px;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
}

.content {
    
    @media #{$mq-1000-up}{
        flex: 3;
    }
}

aside {

    @media #{$mq-1000-up}{
        flex: 1;
    }
}

.button {
    padding: 12 18;
    font-size: 16px;
    display: block;
    width: fit-content;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 400ms ease-in-out;
    &--yellow {
        border: 2px solid $yellow;
        color: $white;
        &:hover {
            background-color: $yellow;
            color: black;
        }
    }
}