@import "../master";
.header {
    height: 280px;
}
.site__logo  {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid $yellow;
    img{
        width: 125px;
        margin: auto;
        display: block;
    }
}
.site__nav {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    flex-wrap: wrap;
    @media screen and (max-width: 480px) {
    justify-content: center;
    }
    .navSocials {
        width: 20%;
        ul {
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                &:not(:first-child) {
                    margin: 0 10px;
                }
            }
        }
        .navSocials__icon {
            width: 20px;
        }
        @media screen and (max-width: 480px) {
            width: 30%;
        }
    }
    .navigation {
        ul {
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                color: $white;
                margin: 0 10px;
                transition: 200ms ease-in-out;
                cursor: pointer;
                &:hover{
                    color: $yellow;
                }
                a {
                    text-decoration: none;
                    color: $white;
                    &:hover {
                        color: $yellow
                    }
                }
            }
        }
    }
    .navButton {
        width: 20%;
        text-align: end;
        .button {
            margin-left: auto;
        }
        @media screen and (max-width: 480px) {
            display: none;
        }
    }
}
