.row {
    display: flex;
}

.row--2c {
    gap: 30px;
    flex-wrap: wrap;
    .col {
        width: calc(50% - 15px);
    }
    @media screen and (max-width: 480px) {
        .col {
            width: 100%;
        }
    }
}

.row-3c {
    gap: 20px;
    flex-wrap: wrap;
    .col {
        width: calc(33% - 10px);
    }
}

.mt-5 {
    margin-top: 5rem;
    @media screen and (max-width: 480px) {
    margin-top: 0;
    }
}